<!DOCTYPE html>
<html lang="en">
    <%- include('./head') %>
<link rel="stylesheet" href="/stylesheets/postcheck.css">
<body>
    <h1>ADMIN CHECK POST</h1>
    <% cats.forEach((item)=> { %>
        <h2><%= item.name %></h2>
        <img src="<%= item.image %>" style="width: 150px;height:150px;">
        <p><%= item.color %></p>
        <p><%= item.species %></p>
        <% if(item.status== 0) { %>
            <a href="accept/<%= item._id %>"><button>อนุมัติ</button></a>
            <a href="decline/<%= item._id %>"><button>ปฏิเสธ</button></a>
        <% } else if(item.status == 1){%>
            <p>อนุมัติแล้ว</p>
        <% } else if (item.status == 2) {%>
            <p>ปฏิเสธแล้ว</p>
        <% }%>
        <hr>
    <% }) %>

    
 
</body>
</html>