<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<link rel="stylesheet" href="/stylesheets/postcheck.css">

<body>
    <%- include('header') %>
    <%- include('banner') %>
    <div class="container">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        รอการอนุมัติ
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="d-inline-flex flex-row">
                        <% callitem1.forEach((item)=> { %>
                            <% if(item.status== 0) { %>
                            <div class="box">
                                <div class="status-post">สถานะ</div>
                                <div class="presentcat">
                                    <img src="<%= item.pet_image %>" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>ชื่อ: <%= item.pet_name %></h3>
                                    <div class="catinfo">
                                        <ul>
                                            <li>เพศ: <%= item.pet_gender %></li>
                                            <li>สี: <%= item.pet_color %></li>
                                            <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                            <li>สายพันธ์: <%= item.pet_gene %></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="button">
                                    <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                    <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                </div>
                            </div>
                            <% } %>  
                        <% }) %>     
                        <% callitem2.forEach((item)=> { %>
                            <% if(item.status== 0) { %>
                            <div class="box">
                                <div class="presentcat">
                                    <img src="<%= item.pet_image %>" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>ชื่อ: <%= item.pet_name %></h3>
                                    <div class="catinfo">
                                        <ul>
                                            <li>เพศ: <%= item.pet_gender %></li>
                                            <li>สี: <%= item.pet_color %></li>
                                            <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                            <li>สายพันธ์: <%= item.pet_gene %></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="button">
                                    <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                    <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                </div>
                            </div>
                            <% } %>  
                        <% }) %>              
                     </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      อนุมัติ
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-inline-flex flex-row">
                            <% callitem1.forEach((item)=> { %>
                                <% if(item.status== 1) { %>
                                    <div class="box box-admin">
                                        <div class="status-post">
                                            <span>สถานะ : อนุมัติแล้ว</span>
                                        </div>
                                        <div class="presentcat">
                                            <img src="<%= item.pet_image %>" alt="">
                                        </div>
                                        <div class="text-wrap">
                                            <h3>ชื่อ: <%= item.pet_name %></h3>
                                            <div class="catinfo">
                                                <ul>
                                                    <li>เพศ: <%= item.pet_gender %></li>
                                                    <li>สี: <%= item.pet_color %></li>
                                                    <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                                    <li>สายพันธ์ุ: <%= item.pet_gene %></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="button">
                                            <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                            <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                        </div>
                                    </div>
                                <% } %>
                            <% }) %>   
                            <% callitem2.forEach((item)=> { %>
                                <% if(item.status== 1) { %>
                                <div class="box">
                                    <div class="presentcat">
                                        <img src="<%= item.pet_image %>" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <h3>ชื่อ: <%= item.pet_name %></h3>
                                        <div class="catinfo">
                                            <ul>
                                                <li>เพศ: <%= item.pet_gender %></li>
                                                <li>สี: <%= item.pet_color %></li>
                                                <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                                <li>สายพันธ์: <%= item.pet_gene %></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                        <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                    </div>
                                </div>
                                <% } %>  
                            <% }) %>                 
                     </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      ปฏิเสธ
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="d-inline-flex flex-row">
                            <% callitem1.forEach((item)=> { %>
                                <% if(item.status== 2) { %>
                                <div class="box box-admin">
                                    <div class="status-post">
                                        <span>สถานะ : ปฏิเสธแล้ว</span>
                                    </div>
                                    <div class="presentcat">
                                        <img src="<%= item.pet_image %>" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <h3>ชื่อ: <%= item.pet_name %></h3>
                                            <div class="catinfo">
                                                <ul>
                                                    <li>เพศ: <%= item.pet_gender %></li>
                                                    <li>สี: <%= item.pet_color %></li>
                                                    <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                                    <li>สายพันธ์ุ: <%= item.pet_gene %></li>
                                                </ul>
                                            </div>
                                    </div>
                                    <div class="button">
                                        <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                        <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                    </div>
                                </div>
                                <% } %>
                            <% }) %>  
                            <% callitem2.forEach((item)=> { %>
                                <% if(item.status== 2) { %>
                                <div class="box">
                                    <div class="presentcat">
                                        <img src="<%= item.pet_image %>" alt="">
                                    </div>
                                    <div class="text-wrap">
                                        <h3>ชื่อ: <%= item.pet_name %></h3>
                                        <div class="catinfo">
                                            <ul>
                                                <li>เพศ: <%= item.pet_gender %></li>
                                                <li>สี: <%= item.pet_color %></li>
                                                <li>วัคซีนที่เคยได้รับ: <%= item.pet_vaccine %></li>
                                                <li>สายพันธ์: <%= item.pet_gene %></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a href="decline/<%= item._id %>"><button type="button" class="btn btn-danger">ปฏิเสธ</button></a>
                                        <a href="accept/<%= item._id %>"><button type="button" class="btn btn-success">อนุมัติ</button></a>
                                    </div>
                                </div>
                                <% } %>  
                            <% }) %>                    
                        </div>
                    </div>
                  </div>
                </div>
              </div>

    </div>

    <%- include('./footer'); %>
</body>

</html>