<%- include('head') %>

<body>
    <% if(role == null){ %>
        <%- include('header_notlogin') %>
      <% } else if(role == 1) {%>
        <%- include('header_admin') %>
      <%}else{ %>
        <%- include('header_user') %>
        <%}%>
    <div class="container">

        <h1 class="text-center mb-3 mt-5">แก้ไขโปรไฟล์</h1>

        <form class="row g-3" action="/editprofile" method="POST" enctype="multipart/form-data">
            <div style="width: 70vw; margin: auto;" class="mt-5">
                <label class="form-label">ชื่อ</label>
                <input type="text" name="firstname"  class="form-control" id="inputEmail4" value="<%= profile.firstname %>">
            
                <label class="form-label">นามสกุล</label>
                <input type="text" name="lastname" class="form-control" id="inputPassword4" value="<%= profile.lastname %>">
            
        
                <label class="form-label">อีเมล</label>
                <input type="email" class="form-control" id="inputPassword4" value="<%= profile.email %>" disabled>
                <div class="d-flex justify-content-center">
                    <button class="btn btnorg mt-3" style="width:33vw; " type="submit">บันทึกการแก้ไข</button>
                    <a href="/profile"><button class="mt-3 btn btn-danger" style="width:33vw; margin-left: 10px;">ยกเลิก</button></a>
                </div>
            </div>
        </form>

    
    </div>
</body>

</html>