
            <% cat_found.forEach(item => { %>
                <% if(item.post_type == "พบสัตว์เลี้ยง") {%>
            <a class="catinfo" href="/catinfo3/?id=<%= item._id%>">
                <div class="card cat-card" style="width: 300px;">
                    <img class="cat_img" src="<%= item.pet_image%>" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">ชื่อ: <%= item.pet_name%></h5>
                        <p class="card-text text-truncate">สี: <%= item.pet_color%></p>
                        <p class="card-text text-truncate">สายพันธ์: <%= item.pet_gene%></p>
                        <p class="card-text text-truncate"><small class="text-muted">โพสต์เมื่อ: <%= item.createat%></small></p>
                    </div>
                </div>
            </a>
                <% } %>
            <% }) %>
    
