

<div class="w-80 d-inline-flex">
    <% callitem2.forEach(callitem2 => { %>
        <% if(callitem2.post_type == "พบสัตว์เลี้ยง") {%>
           
    <a class="catinfo " href="/catinfo2/?id=<%= callitem2._id%>">
        <div class="card cat-card" style="width: 300px;">
            <img class="cat_img" src="<%= callitem2.pet_image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ชื่อ: <%= callitem2.pet_name%></h5>
                <p class="card-text">สี: <%= callitem2.pet_color%></p>
                <p class="card-text">สายพันธ์: <%= callitem2.pet_gene%></p>
                <p class="card-text"><small class="text-muted">โพสต์เมื่อ: <%= callitem2.createat%></small></p>
            </div>
        </div>
    </a>
   
        <% } %>
    <% }) %>
</div>
    