<%- include('head') %>
    <title>Cat Infomation</title>
</head>
<body>
    <% if(role == null){ %>
        <%- include('header_notlogin') %>
      <% } else if(role == 1) {%>
        <%- include('header_admin') %>
      <%}else{ %>
        <%- include('header_user') %>
        <%}%>
    <% if(callitem2 != null) { %>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="title d-flex justify-content-center mt-5">
                    <svg class="home-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path d="M320 32c0-9.9-4.5-19.2-12.3-25.2S289.8-1.4 280.2 1l-179.9 45C79 51.3 64 70.5 64 92.5V448H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H96 288h32V480 32zM256 256c0 17.7-10.7 32-24 32s-24-14.3-24-32s10.7-32 24-32s24 14.3 24 32zm96-128h96V480v32h32 64c17.7 0 32-14.3 32-32s-14.3-32-32-32H512V128c0-35.3-28.7-64-64-64H352v64z"/>
                    </svg>
                </div>
                <div class="title d-flex justify-content-center mt-2">
                    <h1>สัตว์เลี้ยงหาย</h1>
                </div>
                <%- include('cat_house_john') %>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <% } %>
    <%- include('./footer'); %>
</body>
</html>