<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title%></p>
    <% callitem1.forEach(callitem1 => { %>
      <ul>
        <li>
          <a href="/catfindhouse/<%=callitem1._id%>"><%= callitem1.pet_name%></a>
          <p>เพศ : <%= callitem1.pet_gender%></p>
          <p>สี : <%= callitem1.pet_color%></p>
          <p>วัคซีน : <%= callitem1.pet_vaccin%></p>
          <p>สายพันธุ์ : <%= callitem1.pet_gene%></p>
          <form action="/findhome_post/edit" method="post">
            <input type="hidden" name="edit_id" value="<%=callitem1._id%>">
            <button type="submit">แก้ไข</button>
          </form>
          <a href="/delete/<%=callitem1._id%>" onclick="return confirm('คุณต้องการลบ <%=callitem1.pet_name%> หรือไม่?')">ลบ</a><hr>
          <!-- <a href="/findhome_post/delete/<%=callitem1._id%>" onclick="return confirm('คุณต้องการลบ <%=callitem1.pet_name%> หรือไม่?')">ลบ</a><hr> -->
      </li>
      </ul>
    <% }) %>
    <% callitem2.forEach(callitem2 => { %>
      <ul>
        <li>
          <a href="/catlost/<%=callitem2._id%>"><%= callitem2.pet_name%></a>
          <p>เพศ : <%= callitem2.pet_gender%></p>
          <p>สี : <%= callitem2.pet_color%></p>
          <p>วัคซีน : <%= callitem2.pet_vaccin%></p>
          <p>สายพันธุ์ : <%= callitem2.pet_gene%></p>
          <form action="/report_post/edit" method="post">
            <input type="hidden" name="edit_id" value="<%=callitem2._id%>">
            <button type="submit">แก้ไข</button>
          </form>
          <a href="/delete/<%=callitem2._id%>" onclick="return confirm('คุณต้องการลบ <%=callitem2.pet_name%> หรือไม่?')">ลบ</a><hr>
          <!-- <a href="/findhome_post/delete/<%=callitem2._id%>" onclick="return confirm('คุณต้องการลบ <%=callitem2.pet_name%> หรือไม่?')">ลบ</a><hr> -->
      </li>
      </ul>
    <% }) %>

  </body>
</html>
